<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IAcademy3"
        tools:targetApi="31">
        <activity
            android:name=".listView.ListViewLessonsOrdered"
            android:exported="false" />
        <activity
            android:name=".template.StudentInscriptionTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewStudentInscription"
            android:exported="false"
            android:label="@string/title_activity_list_view_student_inscription"
            android:theme="@style/Theme.IAcademy3" />
        <activity
            android:name=".activities.StudentCourseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewTeachersStudents"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewCourseManager"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewLesson"
            android:exported="false" />
        <activity
            android:name=".activities.LessonActivity"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewCourseTeacher"
            android:exported="false" />
        <activity
            android:name=".activities.CourseTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewClassroom"
            android:exported="false" />
        <activity
            android:name=".activities.ClassroomActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UpdateStudent"
            android:exported="false" />
        <activity
            android:name=".activities.UpdateManager"
            android:exported="false" />
        <activity
            android:name=".activities.UpdateTeacher"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewTeacherAcademy"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewAcademies"
            android:exported="false" />
        <activity
            android:name=".template.CourseAllTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewStudentAcademyAll"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewStudentCourseAll"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewStudentCourseAcademy"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewStudentCourse"
            android:exported="false" />
        <activity
            android:name=".activities.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StudentRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TeacherActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManagerRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AcademyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CourseManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>